* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr minmax(600px, 800px) 1fr;
	min-height: 100vh;
	font-family: 'Times New Roman', serif;
	font-size: 1.2em;
	line-height: 1.4em;
}
 header {
	grid-colum: 1 / -1;
	grid-row: 1;
	text-align: center;
	padding: 2rem 1rem;
 }

h1 {
	font-size: 2.5em;
	line-height: 1.2em;
	font-family: 'Times New Roman', serif;
	font-weight: normal;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.3em;
	font-weight: normal;
}

p {
	font-size: 1.0em;
	line-height: 1.4em;
	margin-bottom: 1.5em;
	text-align: justify;
}

blockquote {
	font-size: 1.0em;
	line-height: 1.3em;
	margin: 3em auto;
	text-align: center;
	padding: 2rem 3rem;
	font-style: italic;
}
h4 {
	font-size: 1.2em;
	margin: 3rem 0 1.5rem 0;
	font-weight: bold;
	text-align: center;
}

#works-cited {
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: normal;
}

.bibliography li {
	list-style: none;
	line-height: 1.5em;
	padding: 0.5em 0;
	text-indent: -1.5em;
	font-size: 0.95em;
}


footer p {
	text-align: center;
	font-size: 0.8em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'Times New Roman', serif;
}

/* Second Layout (index2.html) */
body#secondLayout {
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to bottom, #fff, #f0f8ff)
}

body#secondLayout header {
	text-align: center;
	margin-bottom: 40px;
}

body#secondLayout h1 {
	font-size: 3em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.5em;
}

body#secondLayout h3 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 400;
}

body#secondLayout main {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	gap: 20px;
	padding: 0 2rem 3rem;
}

body#secondLayout p {
	font-size: 1.2em;
	margin-bottom: 1.5em;
	text-align: justify;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	hyphens: auto;
}

body#secondLayout blockquote {
	position: relative;
	padding: 2rem 3rem;
	font-size: 1.2em;
	margin: 2em auto;
	text-align: center;
	width: 70%;
	font-style: italic;
}

body#secondLayout h4 {
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 1em;
	display: inline-block;
}

body#secondLayout .bibliography {
	width: 80%;
	margin-bottom: 1.5rem;
	list-style: none;
	padding: 2rem;
	text-indent: hang(1.5em);
	font-style: normal;
}

body#secondLayout #works-cited .bibliography {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1.5rem;
}

body#secondLayout footer p {
	text-align: center;
	font-size: 0.8em;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'Times New Roman', serif;
}