* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

   /* <img id="rhodo1" alt="" src="/rhododendron/rhodo1.jpeg"
    <img id="rhodo2" alt="" src="/rhododendron/rhodo2.jpeg"
    <img id="rhodo3" alt="" src="/rhododendron/rhodo3.jpeg"
*/
#flowerbkgd {
    background-image: url("/rhododendron/rhodo1.jpeg");
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 95vw;
    background-attachment: fixed;
    background-color: #ffcaf1;
}

header { 
    background: rgba(255, 86, 238, 0.50);
    padding: 20px;
    border-radius: 13px;
    margin: 20px;
}

h1#banner {
    font-family: "Playfair Display", "Didot", "Bodoni MT", "Times New Roman", serif;
    font-size: 3.5em;
    color: #180012;
    padding: 20px;
    text-align: center;
    background-color: rgba(205, 205, 205, 0.74);
    margin: 20px;
    border-radius: 10px;
}

section {
    font-size: 1.3em;
    background: rgba(255, 86, 238, 0.40); /* semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

p {
    margin: 10px 0;
    line-height: 1.5;
    text-justify: left;
}

footer {
   /* height: 30px;*/
    text-align: center;
    padding: 10px;
    background: rgba(255, 86, 238, 0.967); /* semi-transparent background for better readability */
    border-radius: 10px;
    margin: 20px;
    grid-area: footer;
}