* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-image: url("/rhododendron/rhodo1.jpeg");
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    border: 1em solid #ffcaf1;

}

header {
    width: 100;
    height: 100;
    background: rgba(255, 86, 238, 0.75);
    margin-bottom: 20px;
}

#banner {
    width: 100;
    height: auto;
    text-align: center;
    padding: .5em;
    font-family: "Playfair Display", "Didot", "Bodoni MT", "Times New Roman", serif;
    font-size: 5em;
    color: #2d0021;
}

header h2 {
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    color: #2d0021;
}

section {

    width: 50vw;
    padding: 5px;
    margin: 10px;
    background: rgba(255, 86, 238, 0.40); /* semi-transparent background for better readability */
    border-radius: 10px;
}


p {
    font-size: 1.2em;
    border: 10px;
    border-radius: 13px;
    background: rgb(245, 245, 245, 0.8); /* semi-transparent background for better readability */
    padding: 10px;
    margin: 10px;
    line-height: 1.3em;
    text-justify: left;
}

footer {
   /* height: 30px;*/
    text-align: center;
    background: rgba(255, 86, 238, 0.9); /* semi-transparent background for better readability */
    border-radius: 10px;
}


@media screen (max-width: 415px) {

    body {
        background-image: url("/rhododendron/rhodo1.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;

    #banner {
        font-size: 50px; /* Adjust font size for smaller screens */
    }
}