* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-image: url("/rhododendron/rhodo1.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    border: 13px solid #ffcaf1;
   /* text-overflow: clip; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 5vw;
    grid-row-gap: 5vh;
    grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer";
}

header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 30vh;
    background: rgba(255, 86, 238, 0.50);
    grid-area: header;
}

#banner {
    position: absolute;
    top: 0;
    width: 90vw;
    height: 30vh;
    text-align: center;
    font-family: "Playfair Display", "Didot", "Bodoni MT", "Times New Roman", serif;
    font-size: 3em;
    /* text-transform: uppercase; */ /* Optional: make text uppercase */
    color: #180012;
}

header h2 {
    position: absolute;
    top: 1em;;
    left: 1em;;
   /* transform: translate(-50%, -50%); */
    font-size: 1em;
    color: #180012;
}

section {
    position: relative;
    background: rgba(255, 86, 238, 0.40); /* semi-transparent background for better readability */
    border-radius: 10px;
    margin: 20px;
    grid-area: section;
}

p {
    position: absolute;
    font-size: 1.2em;
    background: rgba(205, 205, 205, 0.70);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.3em;
    text-justify: left;
}

footer {
   /* height: 30px;*/
    text-align: center;
    padding: 10px;
    background: rgba(255, 86, 238, 0.967); /* semi-transparent background for better readability */
    border-radius: 10px;
    margin: 20px;
    grid-area: footer;
}


@media (max-width: 415px) {

    body {
        background-image: url("/rhododendron/rhodo1.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "section"
            "footer";
    }

    #banner {
        font-size: 50px; /* Adjust font size for smaller screens */
    }
}