* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    overflow: scroll;
    background-image: url("/rhododendron/rhodo2.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 13px solid #ffcaf1;
    border-radius: 20px;
}