* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;  
}