* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



 <img src="/favorite-recipe/curry.jpg" alt="A bowl of chickpea coconut curry over white rice." width="400">

body {
    font-family: Arial, sans-serif;
   /* background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center; */

}

.hero {
    position: relative;
    height: 50vh;
    min-height: 400px;          /* fallback for larger content */
    display: flex;
    align-items: flex-end;      /* align text to the bottom of the hero section */
    justify-content: flex-start;     /* align text to the left */

    padding: 0;
    text-align: left;
    width: 100%;
}

div#background-image {
    display: block;
    position: relative; 
    width: auto;
    height: 30vh;
    /* object-fit: cover; */
    padding: 0;
    z-index: -1;
    opacity: 0.8;  
}

header h1 {
    font-family: 'Bonveno', 'Helvetica', 'Franklin Gothic Medium', Arial, sans-serif;
    padding: 20px 15px 20px 15px;
    font-size: 1.5rem;
    background-color: #8eb78374;
    max-width: 75vw;
}

header h3 {
    font-family: 'Franklin Gothic Medium', 'Helvetica', Arial, sans-serif;
    background-color: #f8f8f8b5;
    padding: 10px 0 10px 15px;
    font-size: .7em;
    max-width: 75vw;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
}

p#blurb {
    font-family: 'Adobe Caslon Pro', 'Times New Roman', serif;
    background-color: #f8f8f8b5;
    padding: 30px 10px 50px 15px;
}

div#time-info {
   /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    width: 30%;
    background-color: #f8f8f8b5;
    padding: 20px 15px 20px 15px;
}

ul#time-list {
    display: table;
    columns: 2;
    rows: 2;
    min-width: 300px;
    list-style-type: none;
    background-color: gray;
    border-color: darkgray 1px solid;
}

li#item1 {
    display: table-cell 1/1;
    border: 1px solid darkgray;
    padding: 10px;
}

li#item2 {
    display: table-cell 1/2;
    border: 1px solid darkgray;
    padding: 10px;
}

li#item3 {
    display: table-cell 2/1;
    border: 1px solid darkgray;
    padding: 10px;
}

@media (min-width: 600px) {
    div#background-image {
        height: 30vh;
        width: 60vw;
        align-self: top-right;
    }
    header h1 {
        max-width: 50vw;
        font-size: 2.5em;
    }

    header h3 {
        max-width: 50vw;
        font-size: 1.2em;
    }
}