* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    padding: 0;
    text-align: left;
    width: 100%;
}

div#background-image {
    display: block;
    position: relative; 
    width: auto;
    height: 40vh;
    object-fit: cover;
    padding: 0;
    z-index: -1;
    opacity: 0.8;  
}

header h1 {
    font-family: 'Bonveno', 'Helvetica', 'Franklin Gothic Medium', Arial, sans-serif;
    padding: 20px 15px 20px 15px;
    font-size: 2em;
    background-color: #8eb78374;
}

header h3 {
    font-family: 'Franklin Gothic Medium', 'Helvetica', Arial, sans-serif;
    background-color: #f8f8f8b5;
    padding: 20px 0 20px 15px;
    font-size: .9em;
    font-style: capitalize;
}

header p {
    font-family: '', serif;
    background-color: #f8f8f8b5;
    padding: 20px 0 20px 15px;
    font-size: .9em;
    font-style: capitalize;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

@media (max-width: 600px) {
    #background-image {
        height: 30vh;
        width: 60vw;
        align-self: top-right;
    }
}